.Preview {
 background-color: wheat;
 width: 75%;
 height: 100%;
 position: relative;
 canvas{
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  height: 80%;
 }
 &__save{
  background-color: #61dafb;
  color: white;
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: pointer;
 }
 }